.bg-primary,.btn-primary{
    background-color: #40A9ED !important;
}

.content{
    margin-top: 2rem;
}
.cart-title{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.card-checkout{
    display: flex;
    justify-content: right;
    margin-top: 3rem;
    width: 100%;
}

.card-checkout .card{
    width: 250px;
}


footer{
    text-align: center;
    font-weight: 600;
    background-color: #40a8ed38;
    margin-top: 3rem;
    padding: 1.5rem 0;
}